
#Przedmioty {
    width: 100%;
    padding: 2rem;
    background-color: #1a1a1a;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    display: none;
    flex-direction: column;
    gap: 1.5rem;
    color: #ccc;
    overflow: hidden;
}

#PR-header {
    font-size: 1.8vw;
    font-weight: bold;
    color: #e4b113;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid #e4b113;
    padding-bottom: 0.5rem;
    font-family: sans-serif;
}

#PR-box{
    width: 100%;
    min-height: 25vh;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}


#PR-info{
    width: 30%;
    min-height: 20vh;
    height: min-content;
}

#PR-opis{
    min-height: 20vh;
    width: 70%;
}

@media (max-width: 1024px) {
    #PR-header {
        font-size: 4vw;
        border-bottom-width: 3px;
    }

    #PR-box {
        flex-direction: column;
        align-items: center;
    }

    #PR-info,
    #PR-opis {
        width: 100%;
    }

    .card#PR-info p,
    .card#PR-opis p {
        font-size: 1.5rem;
    }

    .card#PR-info h2,
    .card#PR-opis h2 {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    #PR-header {
        font-size: 6vw;
        border-bottom-width: 4px;
        text-align: center;
    }

    #PR-box {
        flex-direction: column;
        gap: 1rem;
    }

    #PR-info,
    #PR-opis {
        width: 90%;
        padding: 1rem;
    }

    .card#PR-info p,
    .card#PR-opis p {
        font-size: 2.5vw;
    }

    .card#PR-info h2,
    .card#PR-opis h2 {
        font-size: 5vw;
    }
}

@media (max-width: 480px) {
    #PR-header {
        font-size: 7vw;
        border-bottom-width: 5px;
    }

    #PR-box {
        flex-direction: column;
        gap: 1rem;
    }

    #PR-info,
    #PR-opis {
        width: 95%;
        padding: 1rem;
    }

    .card#PR-info p,
    .card#PR-opis p {
        font-size: 4vw;
    }

    .card#PR-info h2,
    .card#PR-opis h2 {
        font-size: 6vw;
    }
}